# VITE_SUPABASE_URL=https://your-project.supabase.co
# VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_WHATSAPP_NUMBER=8802227860
# VITE_GA_MEASUREMENT_ID=
# VITE_META_PIXEL_ID=

SUPABASE_URL=https://czovhezmbnjxebqomqpj.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_LS3T0QFISP_9Kr77-d8FFA_UlTpwUFU
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
SUPABASE_JWKS_URL=https://czovhezmbnjxebqomqpj.supabase.co/auth/v1/.well-known/jwks.json
# Supabase Edge Function secrets
TELEGRAM_BOT_TOKEN=8726365359:AAHV_ZWAMsJF_HQqtITYKfJEE4NGjCGHMzk
TELEGRAM_CHAT_ID=1069614083
NOTIFICATION_EMAIL=iiuumar28@gmail.com
RESEND_API_KEY=re_Bi4ojdhR_74PcQPhgvRAKKgaA5BGBaoA1
